body {
    font-family: 'Baloo Bhai', cursive;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('barbell-1839086_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.left {
    display: inline-block;
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    width: 136px;
    border-radius: 100%;
   
}

.left div {
    line-height: 19px;
    font-size: 26px;
    text-align: center;
    color: rgb(217, 234, 234);
}

.mid {
    display: block;
    width: 100%;
    text-align: center;
    margin: 43px auto;
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: flex;
   
}

.navbar {
    display: inline-block;
    
}

.navbar li {
    display: inline-block;
    font-size: 25px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 18px;

}

.navbar li a:hover, .navbar li a.active {
    text-decoration: underline;
    color: grey;
}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
    color:rgb(242, 252, 248);
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}

    @media screen and (max-width: 1300px ) {
        .left, .right {
            position: absolute;
            text-align: center;
        }
    
        .left img {
            width: 80px;
            max-width: 100%;
        }
    
        .left div {
            font-size: 20px;
        }
    
        .mid {
            text-align: center;
        }
    
        .navbar {
            display: block;
            text-align: center;
        }
    
        .navbar li {
            display: block;
            font-size: 20px;
            padding: 10px 0;
        }

        .form-group input {

            width: 550px;
        }

        .container {
            width: 80%;
        margin: 5% auto;
        }

        body {
            background-position: center;
        }
    }
   
